
.article{
    width: 100%;
    display: flex;
}

.article_left{
    width: 60%;
}

.my_swipe .rv-swiper-item {
    color: #fff;
    font-size: 20px;
    line-height: 300px;
    text-align: center;
    background: #3f45ff;
}