* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background: #f3f3f3;
}

.article {
  width: 100%;
  display: flex;
}

.article .article_left {
  width: 60%;
}

.article .article_left .my-swipe .rv-swiper-item {
  color: #fff;
  font-size: 20px;
  line-height: 300px;
  text-align: center;
  background: #3f45ff;
}
