.Home{
    width: 100%;
    height: 100%;
    background: #f3f3f3;
}

.header{
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.img{
    margin-left: 10%;
    margin-right: 5%;
}

.nav{
    width: 30%;
    display: flex;
    a{
        flex: 1;
        color: #000;
    }
}

.header_right{
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 10%;
    li{
        flex: 1;
    }
}

.main{
    width: 80%;
    margin: 0 auto;
    background: #fff;
}

.active{
    color: red!important;
}